<p id="notice"><%= notice %></p>

<h1>Fontes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.title %></td>
        <td><%= link_to 'Mostrar', source %></td>
        <td><%= link_to 'Editar', edit_source_path(source) %></td>
        <td><%= link_to 'Deletar', source, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Fonte', new_source_path %>
<%= link_to 'Voltar', information_index_path %>