<h1>Atividades</h1>

<%= link_to 'Adicionar atividade', new_activity_path, style: "#{'display: none' if !user_admin? }" %>

<table>
  <tr>
    <th>Título</th>
    <th>Prazo de execução</th>
    <th>Descrição</th>
    <th></th>
  </tr>
 
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.title %></td>
      <td><%= activity.due_date.to_formatted_s(:rfc822) %></td>
      <td><%= activity.description %></td>
      <td><%= check_box_tag(:interest, false, false, :onclick => "UserActivitiesController.create(current_user.id, activity.id);") %></td>
      <td>Demonstrar Interesse</td>
      <td><%= link_to 'Remover Atividade', activity_path(activity),  :method => :delete, :confirm => 'Tem certeza ?' %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Minhas Atividades de interesse', user_activities_path %>