<p id="notice"><%= notice %></p>

<h1> Perguntas Frequentes </h1>

<div class="wrap-collabsible">
  <% all_faqs = Faq.all %>
  <% @topicos = all_faqs.group_by(&:topico) %>
  <% @topicos.each_pair do |topic_name, data| %>

    <input id="<%=topic_name%>" class="toggle" type="checkbox">
    <label for="<%=topic_name%>" class="lbl-toggle"><%=topic_name%></label>

    <div class="collapsible-content">
      <div class="content-inner">
        <% data.each do |info| %>
            <h3>  <%= info.pergunta %> </h3>
            <p>  <%= info.resposta %> </p>
            <tr>
              <th><%= link_to 'Show', info %></th>
              <th><%= link_to 'Edit', edit_faq_path(info) %></th>
              <th><%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %></th>
            </tr>
        <% end %>
      </div>
    </div>

  <% end %>
</div>  

<% if user_signed_in? && current_user.role == 'administrator' %>
  <%= link_to 'New Faq', new_faq_path %>
<% end %>
