<p id="notice"><%= notice %></p>

<h1> Perguntas Frequentes </h1>

<div class="wrap-collabsible">
  <% all_faqs = Faq.all %>
  <% @topicos = all_faqs.group_by{|i| i.topico.downcase} %>
  <% @topicos.each_pair do |topic_name, data| %>

    <input id="<%=topic_name%>" class="toggle" type="checkbox">
    <label for="<%=topic_name%>" class="lbl-toggle"><%=topic_name%></label>

    <div class="collapsible-content">
      <div class="content-inner">
        <% data.each do |info| %>
            <h3>  <%= info.pergunta %> </h3>
            <p>  <%= info.resposta %> </p>
            <button><th><%= link_to 'Expandir', info %></th></button>
            <% if user_signed_in? && current_user.role == 'administrator' %>
              <tr>
                <button><th><%= link_to 'Editar', edit_faq_path(info) %></th></button>
                <button><th><%= link_to 'Excluir', info, method: :delete, data: { confirm: 'Você Tem Certeza que Deseja Excluir? Todas as sugestões associadas a esse FAQ também serão excluidas.' } %></th></button>
              </tr>
            <% end %>
            <% if user_signed_in? && current_user.role != 'administrator' %>
              <button><th><%= link_to 'Nova Sugestão de Resposta', new_faq_sugestion_path(:pergunta => info.pergunta, :topico => info.topico, :faq_id => info.id) %></th></button>
            <% end %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>  

<% if not Faq.exists? %>
  <h3>Não Há Tópicos Cadastrados</h3>
<% end %>

<% if user_signed_in? && current_user.role == 'administrator' %>
  <button><%= link_to 'Nova Entrada no FAQ', new_faq_path %></button>
  <button><%= link_to 'Verificar Sugestões de FAQ', faq_sugestions_path %></button>
<% end %>

<% if user_signed_in? && current_user.role != 'administrator' %>
  <button><%= link_to 'Sugerir um FAQ', new_faq_sugestion_path %></button>
<% end %>