<p id="notice"><%= notice %></p>

<p>
  <strong>Topico:</strong>
  <%= @faq.topico %>
</p>

<p>
  <strong>Pergunta:</strong>
  <%= @faq.pergunta %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @faq.resposta %>
</p>

<button><%= link_to 'Editar', edit_faq_path(@faq) %></button> |
<button><%= link_to 'Voltar', faqs_path %></button>
