<p id="notice"><%= notice %></p>

<p>
  <strong>Data entrada:</strong>
  <%= @diarium.data_entrada %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @diarium.data_saida %>
</p>

<%= link_to 'Edit', edit_diarium_path(@diarium) %> |
<%= link_to 'Back', diaria_path %>
