<h1>Minhas Atividades de Interesse</h1>

<table>
  <tr>
    <th>Usuário</th>
    <th>Atividade</th>
    <th>Interesado</th>
    <th>Cadastrado</th>
    <th></th>
  </tr>
 
  <% @user_activities.each do |user_activity| %>
    <tr>
      <td><%= UserActivity.getUser(user_activity.user_id) %></td>
      <td><%= UserActivity.getActivity(user_activity.activity_id) %></td>
      <td><%= user_activity.interested %></td>
      <td><%= user_activity.active %></td>
      
      <td><%= link_to 'Cadastrar Usuário', edit_user_activity_path(user_activity), style: "#{'display: none' if !user_admin? }" %></td>
      
      <td><%= link_to 'Remover Interesse', user_activity_path(user_activity), :method => :delete, :confirm => 'Tem certeza ?' %>
    </tr>
  <% end %>
</table>

<%= link_to 'Voltar a Atividades', activities_path %>