<p id="notice"><%= notice %></p>

<h1>Prazos</h1>

<table>
  <thead>
    <tr>
      <th>Início</th>
      <th>Fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setups.each do |setup| %>
      <tr>
        <td><%= formatted_datetime setup.inicio %></td>
        <td><%= formatted_datetime setup.fim %></td>
        <td><%= link_to 'Mostrar', setup %></td>
        <td><%= link_to 'Editar', edit_setup_path(setup) %></td>
        <td><%= link_to 'Deletar', setup, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Novo prazo', new_setup_path, :method => :get %>
</br>
<%= button_to 'Voltar', solicitations_path, :method => :get %>
