<p id="notice"><%= notice %></p>

<p>
  <strong>Início:</strong>
  <%= formatted_datetime @setup.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= formatted_datetime @setup.fim %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= formatted_datetime @setup.created_at %>
</p>

<p>
  <strong>Atualizado em: </strong>
  <%= formatted_datetime @setup.updated_at %>
</p>



<div style="display: flex; flex-direction: row">
  <%= button_to 'Voltar', setups_path, :method => :get %>
  <% if user_signed_in? and current_user.role == 'administrator'%>
    <div style="margin-left: 50px">
      <%= button_to 'Editar', edit_setup_path(@setup), :method => :get %>
    </div>
  <%end%>

</div>