<p id="notice"><%= notice %></p>

<p>
  <strong>Inicio:</strong>
  <%= @setup.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @setup.fim %>
</p>

<%= link_to 'Edit', edit_setup_path(@setup) %> |
<%= link_to 'Back', setups_path %>
