<p id="notice"><%= notice %></p>

<h1>Orçamento</h1>

<% if @budgets.count == 0 %>
  Não há orçamento cadastrado.
<% else %>
  <table id="budgets">
    <thead>
      <tr>
        <th><h3>Valor disponível</h3></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @budgets.each do |budget| %>
        <tr>
          <td class="value"><h2 style="color:deeppink;"><%= number_with_precision(budget.value, precision: 2) %></h2></td>
          <td><%= link_to 'Editar', edit_budget_path(budget), style:"color:#3333ff;" %></td>
          <td><%= link_to 'Deletar', budget, method: :delete, data: { confirm: 'Are you sure?' }, style:"color:#3333ff;"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Budget', new_budget_path, style:"color:#3333ff;" %>
