<h1>Editing Requirement</h1>

<%= form_for @requirement, html: { multipart: true } do |f| %>
  <%= f.label "Título" %>
  <%= f.text_field :title %>
  <%= f.label "Conteúdo" %>
  <%= f.text_area :content %>
  <%= f.label "documentos" %>
  <%= f.file_field :documents, multiple: true %>
  <br/>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<br />
<% if @requirement.documents.attached? %>
<div>Existem documentos anexados:</div>
  <% @requirement.documents.each do | document | %>
    <div>
      <%= link_to document.filename, rails_blob_path(document, disposition: 'attachment') %>
        <%= link_to 'Remover', delete_document_attachment_requirement_url(document.id, requirement_id: @requirement.id),
          method: :delete,
          data: { } 
        %>    
    <div>
  <% end %>
<% end %>

<br />
<%= link_to 'Show', @requirement %> |
<%= link_to 'Back', requirements_path %>
