<p id="notice"><%= notice %></p>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap&effect=outline  " rel="stylesheet">
</head>
<body>
<div class="font-effect-outline"><h1>Requerimentos</h1></div>

<table>
  <dthead>
    <tr>
      <th>Requerimento</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </dthead>



  <tbody>
  <% @requirements.each do |requirement| %>
    <tr>
      <td><%= requirement.name %></td>
      <td><%= requirement.description %></td>
      <td><%= link_to 'Mostrar', requirement %></td>



      <% if user_signed_in?  and current_user.role == 'administrator'%>
        <td><%= link_to 'Editar', edit_requirement_path(requirement) %></td>
        <td><%= link_to 'Deletar', requirement, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<% if user_signed_in?%>
  <div style="display: flex; flex-direction: row;">
    <% if current_user.role == 'administrator' %>
      <div>
        <%= button_to 'Novo requerimento', new_requirement_path, :method => :get %>
      </div>
    <% end %>
    <div style="margin-left: 50px">
      <%= button_to 'Solicitações', solicitations_path, :method => :get %>
    </div>

  </div>
<% end %>
<br/>

<%= button_to 'Voltar', home_index_path, :method => :get %>
