<h1>Nova Informação de Requisitos</h1>

<%= form_for @requirement, html: { multipart: true } do |f| %>
  <%= f.label "Tipo dos Requisitos" %>
  <%= f.text_field :title %>
  <%= f.label "Conteúdo" %>
  <%= f.text_area :content %>
  <%= f.label "Anexar documentos:" %>
  <%= f.file_field :documents, multiple: true %>
  <br/>
  <%= f.submit "Salvar", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Voltar', requirements_path %>
