<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @requirement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @requirement.content %>
</p>

<% if @requirement.documents.attached? %>
  <p>
    <strong>existem documentos acoplados</strong>
    <% @requirement.documents.each do | document | %>
      <div>
        <%= link_to document.filename, rails_blob_path(document, disposition: 'attachment') %>
      <div>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
