<% if user_signed_in? %>
  <% if current_user.role == "professor"%>
    <% credenciamento = Credenciamento.where(:iduser => current_user.id).first
        if credenciamento.rejected == true
            status = "Rejeitado"
        end
        if credenciamento.aproved == true
            status = "Aprovado"
        end%>
        SEU CREDENCIAMENTO
          <table>
            <thead>
              <tr>
                <th>ID do <br>Pedido</th>
                <th>Usuario</th>
                <th>Data de <br>Requisitação</th>
                <th>Data de <br>Resposta</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
                <tr>
                  <td><%= credenciamento.id %></td>
                  <td><%= current_user.full_name %></td>
                  <td><%= credenciamento.created_at%></td>
                  <td><%= credenciamento.updated_at%></td>
                  <td><%= status %></td>
                </tr>
            </tbody>
          </table>
          <br>
          <% if Periodo_Credenciamento.where("DATE(comeco) <= ? AND DATE(fim) >= ? ", Date.today,Date.today).count > 0 %>
            <%= link_to "Requisitar Recredenciamento", 'show_recredenciamento' %><br /><br>
          <%end%>
  <% end %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% end %>
