<%= form_with(model: information, local: true) do |form| %>
  <% if information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :info %>
  </div>

  <div class="field">
    <%= form.label :fonte %>
    <%= form.collection_select(:fonte, Source.all,:title, :title) %>
  </div>

  <div class="field">
    <%= form.label :notificar_usuários %>
    <%= form.check_box :notify_users %>  
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
