<p id="notice"><%= notice %></p>
<h1>Lista de Informações</h1>

<%=form_tag (information_index_path), :method => 'get' do%> 
<!--
<%= collection_select :information, :source, Source.all, :id, :name, prompt: 'true' %>
<%=submit_tag "Filtrar"%>
 -->
 <%= collection_select(:information, :source, Source.all, :id, :name)%>
 <%=submit_tag "Filtrar"%>
<%end%>

<% if @information.empty? %>
  <h2>Nenhuma informação publicada</h2>
<%else %>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Source</th>
        <th>Published by</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @information.each do |information| %>
        <tr>
          <td><%= information.title %></td>
          <td><%= information.content %></td>
          <td><%= information.source.name %></td>
          <td><%= information.published_by %></td>
          <td><%= link_to 'Show', information %></td>
          <td><%= link_to 'Edit', edit_information_path(information) %></td>
          <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
<br>

<%= link_to 'Voltar', home_index_path %>
<%= link_to 'Nova Informação', new_information_path %>

