<p id="notice"><%= notice %></p>

<div class="title">Wiki de Atendimento</div>

<div class="listEntries">
  <table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Conteúdo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.content %></td>
        <td><%= link_to 'Exibir', entry %></td>
        <td><%= link_to 'Editar', edit_wiki_entry_path(entry) %></td>
        <td><%= link_to 'Excluir', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Adicionar processo', new_wiki_entry_path %>
