<h1>Lista de Notificação</h1>
<h1>Criar Lista de Notificação</h1>

<%= form_tag notifications_path, :method => :post do %>
  <div>
    <%= label :notification, :title, 'Nome da Lista de Notificação: ' %>
    <%= simple_format("\n") %>
    <%= text_field :notification, :title, :size=>50, :required => true%>
    <%= simple_format("\n") %>
  </div>
  
  <div>
    <%= label :notification, :content, 'Descrição:' %>
    <%= simple_format("\n") %>
    <%= text_field :notification, :content, :size=>50, :required => true%>
    <%= simple_format("\n") %>
  </div>
 
  <div>
    <%= label :notification, :group_id, 'Grupo interessado:' %>
    <%= simple_format("\n") %>
    <%= text_field :notification, :group_id, :size=>50, :required => true%>
    <%= simple_format("\n") %>
  </div>

  <div>
    <%= submit_tag 'Cadastrar' %>
    <%= link_to 'Voltar', home_index_path %>
  </div>

<% end %>
<p>Find me in app/views/notification/new.html.erb</p>
