<p id="notice"><%= notice %></p>

<h1>Request Deadlines</h1>

<table>
  <thead>
    <tr>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_deadlines.each do |request_deadline| %>
      <tr>
        <td><%= request_deadline.deadline %></td>
        <td><%= link_to 'Show', request_deadline %></td>
        <td><%= link_to 'Edit', edit_request_deadline_path(request_deadline) %></td>
        <td><%= link_to 'Destroy', request_deadline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request Deadline', new_request_deadline_path %>
