<h1> Cadastrar Usúario na Atividade </h1>

<%= form_with(model: @user_activity, local: true) do |form| %>
<p>
	<%= form.label :user_id, "Id do usupario" %><br>
  	<%= form.text_field :user_id, value: @user_activity.user_id %>
</p>

<p>
	<%= form.label :activity_id, " Id da Atividade" %><br>
  	<%= form.text_field :activity_id, value: @user_activity.activity_id %>
</p>

<p>
	<%= form.label :interested, "Interessado" %><br>
    <%= form.radio_button :interested, "True", :checked => true %>
    <%= form.label :active, "True" %>
    <%= form.radio_button :interested, "False" %>
    <%= form.label :active, "False" %>
</p>

<p>
    <%= form.label :active, "Cadastrado" %><br>
    <%= form.radio_button :active, "True" %>
    <%= form.label :active, "True" %>
    <%= form.radio_button :active, "False" %>
    <%= form.label :active, value: "False" %>
</p>
 
<p>
    <%= form.submit "Salvar" %>
</p>
<% end %>

<%= link_to 'Back', user_activities_path %>