<p id="notice"><%= notice %></p>

<h1>Atividades</h1>

<div class="container">
  <table class="table table-striped">
      <thead style="background-color: #17a2b8; color: white;">
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Data final</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |activity| %>
              <tr>
                <td><%= activity.title %></td>
                <td><%= activity.description %></td>
                <td><%= activity.date.strftime("%d %b %Y") %></td>   
                <td><%= link_to 'Ver detalhes', activity,class:"btn btn-warning m-2" %></td>
                <%if Time.now.strftime("%d %b %Y") < activity.date.strftime("%d %b %Y")%>
                    <td><%= link_to 'Editar', edit_activity_path(activity), class:"btn btn-primary m-2" %></td>
                <%else%>
                    <td><div class="btn btn-outline-primary">Expirado</div></td>
                <%end%>
              </tr>
        <% end %>
      </tbody>
  </table>
</div>


