<h1 class="text-align-center">Calendário de Atividades </h1>
<!--<p class="text-align-center">Find me in app/views/home/index.html.erb</p>-->

<% if user_signed_in? %>
  <h3 class="text-align-center padding-top-3">Usuário atual</h3>
  <p class="text-align-center"><strong>Nome: </strong><%= current_user.full_name %></p>
  <p class="text-align-center"><strong>Email: </strong><%= current_user.email %></p>
  <p class="text-align-center"><strong>Cargo: </strong><%= current_user.role %></p>
  <div class="text-align-center">
    <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-success" %>
  </div>
<% else %>
  <h3 class="text-align-center padding-top-3">Entre para acessar o sistema!</h3>
  <p class="text-align-center">Você também pode se registrar <small>ou pegar uma conta no arquivo db/seeds.rb</small></p>
  <div class="text-align-center">
    <%= link_to "Entrar", reset_interests_activities_path, class: "btn btn-success" %>
  </div>
<% end %>
