<h1>Secretaria PPGI - Disponibilização de Informações</h1>

<% if user_signed_in? %>
  <h3>Suas informações</h3>
  <p><strong>Nome: </strong><%= current_user.full_name %></p>
  <p><strong>Email: </strong><%= current_user.email %></p>
  <p><strong>Cargo: </strong><%= current_user.role %></p>
  <%= link_to "Informações", information_index_path %>
  <%= link_to "Fontes", sources_path %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% else %>
  <h3>Entre no sistema</h3>
  <%= link_to "Login", new_user_session_path %>
  <p><small>Caso não possua uma conta, registre-se no sistema</small></p>
  <%= link_to "Registrar-se", new_user_registration_path %>
<% end %>
