<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
  <h3>Usuário atual</h3>
  <p><strong>Nome: </strong><%= current_user.full_name %></p>
  <p><strong>Email: </strong><%= current_user.email %></p>
  <p><strong>Cargo: </strong><%= current_user.role %></p>
  
  <% if current_user.role == 'administrator' %>
  <%= link_to "Cadastrar nova informação", new_information_path %>
  <%= simple_format("\n") %>
  <%= link_to "Cadastrar fonte de informaçao",  new_source_path, controller: 'sources'%>
  <%= simple_format("\n") %>
  <%= link_to "Criar nova notificação",  new_notification_path, controller: 'notifications'%>
  <%= simple_format("\n") %>
  <% end %>
   <%= link_to 'Informações', controller: 'informations' %> 
   <%= simple_format("\n") %>
   <%= link_to "Fontes de informação",  sources_path, controller: 'sources'%>
  <%= simple_format("\n") %>
  <%= link_to 'Notificações', controller: 'notifications' %>
  <%= simple_format("\n") %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% else %>
  <h3>Entre para acessar o sistema!</h3>
  <p>Você também pode se registrar <small>ou pegar uma conta no arquivo db/seeds.rb</small></p>
  <%= link_to "Entrar", new_user_session_path %>
<% end %>
