<p id="notice"><%= notice %></p>

<p>
  <strong>Request type:</strong>
  <%= @request.request_type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Documents:</strong>
  <%= @request.documents %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
