<p id="notice"><%= notice %></p>

<h1>Sugestões Para o FAQ</h1>

<table>
  <thead>
    <tr>
      <th>Tópico</th>
      <th>Pergunta</th>
      <th>Resposta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faq_sugestions.each do |faq_sugestion| %>
      <tr>
        <td><%= faq_sugestion.topico %></td>
        <td><%= faq_sugestion.pergunta %></td>
        <td><%= faq_sugestion.resposta %></td>
        <td><%= link_to 'Expandir', faq_sugestion %></td>
        <td><%= link_to 'Excluir', faq_sugestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar Para o FAQ', faqs_path %>
