<p id="notice"><%= notice %></p>

<p>
  <strong>Tópico:</strong>
  <%= @faq_sugestion.topico %>
</p>

<p>
  <strong>Pergunta:</strong>
  <%= @faq_sugestion.pergunta %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @faq_sugestion.resposta %>
</p>

<% if @faq_sugestion.faq != nil %>
  <p>
    <strong>Resposta Original:</strong>
    <%= Faq.find(@faq_sugestion.faq_id).resposta %>
  </p>
<% end %>

<% if user_signed_in? && current_user.role != 'administrator' %>
  <%= link_to 'Editar', edit_faq_sugestion_path(@faq_sugestion) %>
  <%= link_to 'Voltar', faqs_path %>
<% end %>
<% if user_signed_in? && current_user.role == 'administrator' %>
  <%= link_to 'Voltar', faq_sugestions_path %>
  <%= link_to 'Aceitar', accept_faq_sugestion_path %>
<% end %>
