<h2>Adicionar uma nova informação</h2>
<%= form_tag informations_path, :method => :post do %>
  <%= label :information, :title, 'Título: ' %>
  <%= text_field :information, :title, :size=>100, :required => true%>
  <%= simple_format("\n") %>
  <%= label :information, :content, 'Conteúdo: '%>
  <%= simple_format("\n") %>
  <%= text_area :information, :content, :rows=>50, :cols=>100, :required => true%>
  

  <%= label :information, :source_id, 'Fonte: ' %>

  <%= select :information, :source_id, @sources.map{|source| [source.name, source.id]} %>
  
  <%= submit_tag 'Enviar' %>
  <%= link_to 'Voltar', home_index_path %>
<% end %>




