
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div id="login">
    <h3 class="text-center text-white pt-5">Login</h3>
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form id="login-form" class="form" action="" method="post">
                          <h3 class="text-center text-info">Login</h3>
                          <div class="form-group">
                                <%= f.label :email %>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", class:"form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.label :password %>
                                <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha", class:"form-control"  %>
                            </div>
                            <div class="form-group">
                                <% if devise_mapping.rememberable? %>
                                  <div class="field">
                                    <%= f.label :Lembrar, class:"text-info" %>
                                    <%= f.check_box :remember_me %>
                                  </div>
                                <% end %>
                            </div>
                                  <%= f.submit "Entrar", class:"btn btn-info btn-md" %>
                            </div>
                            <%= link_to "Cadastre-se", new_registration_path(resource_name) %><br/>
                            <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br/>
                      </form>
                  </div>
              </div>
          </div>
    </div>
</div>
<% end %>

