<%= stylesheet_link_tag "process" %>
<h1>Lista de Processos</h1>
<h2>Criar um novo processo</h2>
<%= form_for :processo, url: process_creation_path ,html: {id: "creation_form", :multipart => true} do |f| %>
  <div>
    <%= f.label "Número do processo SEI" %>
    <%= f.text_field :sei_process_code %>
  </div>
  <div>
    <%= label_tag(:status_id, "Status do processo") %>
    <%= f.select(:process_status_id, options_for_select(@available_status, 1)) %>
  </div>
  <div>
    <%= f.file_field :document_files, multiple: true, accept: 'image/png,image/jpg,application/pdf' %>
  </div>
  <div>

  </div>
  <div>
    <%= submit_tag("Enviar") %>
  </div>
<% end %>
<table>
  <thead>
  <tr>
    <th>Número SEI</th>
    <th>Status do processo</th>
    <th>Deletar</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @processes.each do |process| %>
    <tr>
      <td><%= process['sei_process_code'] %></td>
      <td align="right"><%= @status[process['process_status_id']] %></td>
      <td align="center">
        <%= link_to fa_icon('trash').html_safe, process_delete_path({:id => process['id']}), :method => :delete, :action => "delete", :id => process['id'], class: "delete_link"   %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

