<h1>Editing Accreditation</h1>

<%= form_for @accreditation, html: { multipart: true } do |f| %>
  <strong>User:</strong>
  <%= f.number_field :user_id %>
  <strong>Start date:</strong>
  <%= f.date_field :start_date %>
  <strong>End date:</strong>
  <%= f.date_field :end_date %>
  <br/>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>


<%= link_to 'Show', @accreditation %> |
<%= link_to 'Back', accreditations_path %>




