<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= map_kind @solicitation %>
</p>

<p>
  <strong>Ida:</strong>
  <%= formatted_date @solicitation.departure %>
</p>

<p>
  <strong>Retorno:</strong>
  <%= formatted_date @solicitation.return %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @solicitation.origin %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @solicitation.destination %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @solicitation.description %>
</p>

<div style="display: flex; flex-direction: row">
  <%= button_to 'Voltar', solicitations_path, :method => :get %>
  <% if user_signed_in? and current_user.role == 'administrator'%>
    <div style="margin-left: 50px">
      <%= button_to 'Editar', edit_solicitation_path(@solicitation), :method => :get %>
    </div>
  <%end%>

</div>