<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @log.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
