<%= form_with(model: faqs_suggestion, local: true) do |form| %>
  <% if faqs_suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faqs_suggestion.errors.count, "error") %> prohibited this faqs_suggestion from being saved:</h2>

      <ul>
      <% faqs_suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :tropicQuestion_id %>
    <%= form.text_field :tropicQuestion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
