<%= form_with(model: sei_process, local: true) do |form| %>
  <% if sei_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sei_process.errors.count, "error") %> prohibited this sei_process from being saved:</h2>

      <ul>
      <% sei_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status, "Avaliar" %>
    <%= form.radio_button :status, 'Aprovado', id: 'Aprovado', :checked => true %> Aprovado
    <%= form.radio_button :status, 'Rejeitado', id: 'Rejeitado' %> Rejeitado
  </div>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>
