<h1><%= "Processo #{@sei_process.id}" %></h1>

<p>
  <strong>Nome:</strong>
  <%= @sei_process.user.full_name %>
</p>
<p>
  <strong>Matrícula:</strong>
  <%= @sei_process.user.registration %>
</p>

<% if @sei_process.documents.attached? %>
  <p>
    <strong>Documentos anexados:</strong>
    <% @sei_process.documents.each do | document | %>
      <div>
        <%= link_to document.filename, rails_blob_path(document, disposition: 'attachment') %>
      <div>
    <% end %>
  </p>
<% end %>

<%= form_for @sei_process, html: { multipart: true } do |f| %>
  <%= f.label "Avaliar" %>
  <%= f.radio_button :status, 'Aprovado', :checked => true %> Aprovado
  <%= f.radio_button :status, 'Rejeitado' %> Rejeitado
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<br/>
<%= link_to 'Voltar', sei_processes_path %>
