<p id="notice"></p>

<h1>SEI Processos</h1>

<% if current_user.role == "administrator" %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Código do Processo</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sei_processes.each do |sei_process| %>
        <tr>
          <td><%= sei_process.user.full_name %></td>
          <td><%= sei_process.user.registration %></td>
          <td><%= sei_process.id %></td>
          <td><%= sei_process.status %></td>
          <td><%= link_to 'Gerenciar', edit_sei_process_path(sei_process) %></td>
          <td><%= link_to 'Excluir', sei_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <table>
    <thead>
      <tr>
        <th>Código do Processo</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @my_processes.each do |sei_process| %>
        <tr>
          <td><%= sei_process.id %></td>
          <td><%= sei_process.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<%= link_to 'Abrir Processo', new_sei_process_path %>
