<p id="notice"></p>

<h1>SEI Processos</h1>

<%= form_tag sei_processes_path, :method => :get, id: 'statuses_form' do %>
    <% @all_statuses.each do |status| %>
      <%= check_box_tag "statuses[#{status}]", 'yes', @status_filter.include?(status), id: "statuses_#{status}" %>
      <%= status %>
    <% end %>
    <%= submit_tag "Atualizar", id: 'statuses_submit' %>
<% end %>
<br/>

<% if current_user.role == "administrator" %>
  <%= render 'index_admin' %>
<% else %>
  <%= render 'index_user' %>
<% end %>

<br/>
<%= link_to 'Abrir Novo Processo', new_sei_process_path %>
<br/>
<%= link_to 'Página Inicial', home_index_path %>
