<h1>Abrir Processo</h1>

<% if @requirements != nil %>
  <h2><%= @requirements.title %></h2>
  <%= @requirements.content %>

  <% if @requirements.documents.attached? %>
    <p>
      <strong>Documentos Necessários:</strong>
      <% @requirements.documents.each do | document | %>
        <div>
          <%= link_to document.filename, rails_blob_path(document, disposition: 'attachment') %>
        <div>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= render 'form_new', sei_process: @sei_process %>

<%= link_to 'Voltar', sei_processes_path %>
