<h1>Abrir Processo</h1>

<% if @requirements != nil %>
  <h2><%= @requirements.title %></h2>
  <%= @requirements.content %>

  <% if @requirements.documents.attached? %>
    <p>
      <strong>Documentos Necessários:</strong>
      <% @requirements.documents.each do | document | %>
        <div>
          <%= link_to document.filename, rails_blob_path(document, disposition: 'attachment') %>
        <div>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= form_for @sei_process, html: { multipart: true } do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :code %>
  <%= f.label "Anexar Documentos" %>
  <%= f.file_field :documents, multiple: true %>
  <br/>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<br/>
<%= link_to 'Back', sei_processes_path %>
