<h1>Abrir Processo</h1>

<%= form_for @sei_process, html: { multipart: true } do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :code %>
  <%= f.label "Anexar Documentos" %>
  <%= f.file_field :documents, multiple: true %>
  <br/>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<br/>
<%= link_to 'Back', sei_processes_path %>
