<h1>Abrir Processo</h1>

<% if (current_user.role == 'administrator') || (current_user.role == 'professor') %>
  <%= render 'show_accreditation_requirements' %>
<% end %>

<%= render 'form_new', sei_process: @sei_process %>

<% if current_user.role == 'professor' %>
  <br/>Voltar para<br/>
  <%= link_to 'Meus Processos', sei_processes_path %>
  <%= link_to 'Meus Credenciamentos', accreditations_path %>
<% else %>
  <%= link_to 'Voltar', sei_processes_path %>
<% end %>
