<p id='notice'><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sei_process.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sei_process.status %>
</p>

<p>
  <strong>Code:</strong>
  <%= @sei_process.id %>
</p>

<%= link_to 'Back', sei_processes_path %>
